#Author: Graham Rockwell
#Date: 20110509

[SimpleModel1]
modelName: SimpleModel1
basedir: ../../data/SimpleModel1/
rxnfile: Simple_rxn.csv
smmfile: Simple_smm.csv
objectivefile: Simple_obj.csv
fluxlimitfile: Simple_limits.csv

[APS]
name: "Buchnera aphicicola APS"
uri: http://www.buchnera.org/organisms/aps.owl#
basedir: ../../data/buchnera/
objectivefile: buchnera.obj
rxnfile: buchnera.rxn
fluxlimitfile: buchnera.limits

[iAF1260]
name: iAF1260
basedir: ../../data/iAF1260/
rxnfile: iAF1260_reaction.csv
smmfile: iAF1260_compound.csv
fluxlimitfile: iAF1260_limits.csv
objectivefile: iAF1260_obj.csv
geneannotationfile: ../../data/Genome/bnum2GeneNameFunction.csv
annotationfiles = [('bnumber','bNumber','../../data/Genome/bnum2GeneNameFunction.csv')]

[iAF1260_anaerobic]
name: iAF1260
basedir: ../../data/iAF1260/
rxnfile: iAF1260_reaction.csv
smmfile: iAF1260_compound.csv
fluxlimitfile: iAF1260_limits_anaerobic.csv
objectivefile: iAF1260_obj.csv
geneannotationfile: ../../data/Genome/bnum2GeneNameFunction.csv
annotationfiles = [('bnumber','bNumber','../../data/Genome/bnum2GeneNameFunction.csv')]

[iAF1260_FattyAcids]
basedir: ../../data/iAF1260/
rxnfile: EX_FattyAcids.csv

[iAF1260_Production]
basedir: ../../data/iAF1260/
rxnfile: EX_Production.csv

[iMM904]
name: iAF1260
basedir: ../../data/iMM904/
rxnfile: iMM904_reaction.csv
smmfile: iMM904_compound.csv
fluxlimitfile: iMM904_limits.csv
objectivefile: iMM904_obj.csv

[iMM904_Production]
basedir: ../../data/iMM904/
rxnfile: EX_iMM904_Production.csv

