# author Graham Rockwell
# Suggested defaults and example configurations for Redirector optimization framework
# Last update 2011 July 21

# Command line example
# >python Redirector.py -n 'Default' -m "iAF1260,iAF1260_Production" -b Biomass -s EX_kdg --iter 10 --sn 1 --report -v --section kdg

#-------------------------------------------
# Base line setting for all configurations
#-------------------------------------------
[Redirector Model]

#---directories---
dataDirectory: ../../data
libraryDirectory: ControlLibraries/
resultDirectory: ../../results/
analysisDirectory: ControlSearches

#---model config file---
modelConfigFile: model.config

#---solver---
solver= PuLP_SCIP
solverConfig: ''
resultTag = cp
useControlPenalty=True
orderGenes= True
iterReport = True

#---MILP optimization---
#primeBounds: False
posControlBound = 100
negControlBound = -100
posFluxControlBound = 100
negFluxControlBound = -100
objectiveCoeffecent = 1.0

#---control search---
controlMin = 0
delta=1e-5
coeffecentDefault = 0.0

#----------------------------------
# Suggested default settings
#----------------------------------
[Default]

#---display---
debug: False
verbose: True 

#---optimization settings---
bioTarget: 0.2 
naturalScale: 0.2
#aneal: 0
#preStart: 0

#---control library---
useGeneMap: True
#orderGenes: True
#simoControl: 1
#control: flat
searchIterMax = 15

#---report---
iterReport: True
#isReport: True


#------------------------------------
# Testing of a Simple Model
#------------------------------------
[Test Simple Model]

#---metabolic model---
modelName: SimpleModel1
subSections: Core
bioObj: R8
synthObj: R9

#---display---
verbose: True
debug: False

#---MILP---
#primeBounds: False

#---solver---
solver: PuLP_SCIP

#---control library---
useGeneMap: True
control: binary
#control: flat
#searchIterMax = 6
simoControl: 3

#---control search---
#preStart: 2
#simoLimit: 1.0
#aneal: 0.2
#protectTargets: True
targets: R1,R2,R3,R4,R5,R6,R7,R10
#preLoad: 0
searchNeighborhood: 3
iterations: 4

#---report---
isReport: True
iterReport: True

#---dependency---
#loadFlatDep: ControlSearches/Control_dependency_flat_SimpleModel1_R8_R9_k3_n20_s3.csv
makeGraph: True

#-----------------------------------------------------
# Testing of redirector on iAF1260 small target set
#-----------------------------------------------------
[Test iAF1260]

#---run---
verbose: True
debug: True

#---optimization settings---
bioTarget: 0.2 
naturalScale: 0.2
#aneal: 0
#preStart: 0

#---solver---
solver: PuLP_SCIP

#---MILP---
primeBounds: False

#---control library---
useGeneMap: True
#preLoad: 1384
control: flat
#control: random
#control: binary
orderGenes: True
#simoControl: 3
searchIterMax = 15

#---control search---
#preStartSearchSize: 6
#preStart: 15
#aneal: 0.2
searchNeighborhood: 4
iterations: 4

protectTargets: False
#targets = ACCOAC,
targets = ACCOAC,r3OAS100,r3OAS60,r3OAS160,KAS14,r3OAS120,r3OAS80,r3OAS140,KAS15,PPND,ACOAD6f,ACOAD7f,ACOAD8f,ACOAD1f,ACOAD2f,ACOAD3f,ACOAD4f,ACOAD5f,ACOATA,ENO
#targets = INO1,MIOX,UDH
#targets = FRULYSDG,LYSabcpp,LYSDC,LYSTRS,CADVtpp,DAPDC
#targets = EX_C14n0_CoA
#targets = r3OAS100,r3OAS60,r3OAS160,KAS14,r3OAS120,r3OAS80,r3OAS180,r3OAS140,r3OAR40,r3OAR181,r3OAR120,r3OAR121,r3OAR160,r3OAR161,r3OAR180,r3OAR140,r3OAR141,r3OAR80,r3OAR60,r3OAR100,r3HAD181,r3HAD180,r3HAD40,r3HAD141,r3HAD140,r3HAD80,r3HAD100,r3HAD60,r3HAD161,r3HAD160,r3HAD121,r3HAD120,ACOAD6f,ACOAD7f,ACOAD8f,ACOAD1f,ACOAD2f,ACOAD3f,ACOAD4f,ACOAD5f,ACCOAC,MACPD,r3OAS121,r3OAS141,r3OAS161,FACOAL160t2pp,FACOAL181t2pp,FACOAL80t2pp,FACOAL60t2pp,FACOAL180t2pp,FACOAL120t2pp,FACOAL141t2pp,FACOAL161t2pp,FACOAL100t2pp,FACOAL140t2pp,ACONT,ACONTb,MTHFC,MTHFD,PDH,LPLIPAL1A141pp,LPLIPAL1G160pp,LPLIPAL1LE120pp,LPLIPAL1E141pp,LPLIPAL1E160pp,LPLIPAL1G161pp,LPLIPAL1E180pp,LPLIPAL1G140pp,LPLIPAL1E141pp,LPLIPAL1G120pp,LPLIPAL1E161pp,LPLIPAL1A120pp,LPLIPAL1E181pp,LPLIPAL1G141pp,LPLIPAL1A160pp,LPLIPAL1A181pp,LPLIPAL1G181pp,LPLIPAL1A180pp,LPLIPAL1A140pp,LPLIPAL1G180pp,LPLIPAL1E140pp
#targets = r3OAS100,r3OAS60,r3OAS160,KAS14,r3OAS120,r3OAS80,r3OAS140,KAS15,ACOAD6f,ACOAD7f,ACOAD8f,ACOAD1f,ACOAD2f,ACOAD3f,ACOAD4f,ACOAD5f,ACCOAC,FACOAL160t2pp,FACOAL181t2pp,FACOAL80t2pp,FACOAL60t2pp,FACOAL180t2pp,FACOAL120t2pp,FACOAL141t2pp,FACOAL161t2pp,FACOAL100t2pp,FACOAL140t2pp,LPLIPAL1A141pp,LPLIPAL1G160pp,LPLIPAL1LE120pp,LPLIPAL1E141pp,LPLIPAL1E160pp,LPLIPAL1G161pp,LPLIPAL1E180pp,LPLIPAL1G140pp,LPLIPAL1E141pp,LPLIPAL1G120pp,LPLIPAL1E161pp,LPLIPAL1A120pp,LPLIPAL1E181pp,LPLIPAL1G141pp,LPLIPAL1A160pp,LPLIPAL1A181pp,LPLIPAL1G181pp,LPLIPAL1A180pp,LPLIPAL1A140pp,LPLIPAL1G180pp,LPLIPAL1E140pp

#targetSlice = 0,50
#controlTest = toggle

#---metabolic model--
modelName: iAF1260,iAF1260_Production
#modelName: iAF1260_FattyAcids,iAF1260_Production
#modelName: iAF1260,iAF1260_FattyAcids
bioObj: Biomass

#---products---
subSections: C14n0_CoA
synthObj: EX_C14n0_CoA
#subSections: glcr
#synthObj: EX_glcr
#subSections: lys
#synthObj: EX_lys

#---Report---
isReport: True
iterReport: True

#--------------------------------------------------------------------------------------------------
# Run redirectoron full iAF1260 optimize fatty acid production, with fastest possible conditions
#--------------------------------------------------------------------------------------------------
[iAF1260 Export]

#---Model Parameters--
verbose: True
primeBounds: False
useGeneMap: True
sortGenes: True
#useReduced: False

#---Control Library---
#preLoad: 1384
control: flat
#control: binary
searchIterMax = 10

#---Control Search---
#preStart: 0
#aneal = 0.2f
#searchNeighborhood: 10
#iterations: 30
searchNeighborhood: 2
iterations: 8

#---Model---
modelName: iAF1260,iAF1260_Production
#modelName: iAF1260,iAF1260_FattyAcids
bioObj = Biomass

#targets = glx_reduct,glyclt_act,k4hob_cond,h4hob_reduct,tesB

#------product-----------
#subSections: lyco
#synthObj: EX_lyco
#subSections: glcr
#synthObj: EX_glcr
#subSections: naringenin
#subSections: naringenin,tal
#synthObj: EX_naringenin
#subSections: malcoa
#synthObj: EX_malcoa
#subSections: C14n0_CoA
#synthObj: EX_C14n0_CoA
#subSections: C14n1_CoA
#synthObj: EX_C14n1_CoA
#subSections: C16n0_CoA
#synthObj: EX_C16n0_CoA
#subSections: C16n1_CoA
#synthObj: EX_C16n1_CoA
#subSections: C18n0_CoA
#synthObj: EX_C18n0_CoA
#subSections: C18n1_CoA
#synthObj: EX_nC18_1_CoA
subSections: dhba
synthObj: EX_dhba

#---------Other Products------------
#subSections: succ
#synthObj: EX_succ(e)

#---Report---
isReport = True
iterReport = True

#----------Analysis-------------------
#targetFileObjectives: EX_malcoa,EX_C14n0_CoA,EX_C14n1_CoA,EX_C16n0_CoA,EX_C16n1_CoA,EX_C18n0_CoA,EX_C18n1_CoA
#targetFileObjectives: EX_malcoa
#targetFileObjectives: EX_C14n0_CoA
#targetFileObjectives = ""

makeGraph: True
searchDepth: 2
#loadFlatDep: ./ControlSearches/#Control_dependency_flat_iAF1260,iAF1260_FattyAcids_Biomass_EX_malcoa_k8_n30_s3.csv

#---------------------------
# Yeast Model iMM904
#---------------------------
[Test iMM904]
#---Model Parameters--
verbose: True
#primeBounds: True
useGeneMap: True
sortGenes: False


#---Control Library---
control: flat
#control: binary
simoControl: 1

#---Control Search---
#preStart: 0
#aneal = 0.2
searchNeighborhood: 2
iterations: 6

#---Model---
modelName: iMM904
#modelName: iMM904,iMM904_Production
bioObj = Biomass

#------product-----------
subSections: etoh
synthObj: EX_etoh
#synthObj: EX_C14n0_CoA

#---------------------------
# Yeast Model iMM904
#---------------------------
[iMM904 Export]
#---Model Parameters--
verbose: True
#primeBounds: True
useGeneMap: True
sortGenes: True


#---Control Library---
control: flat
#control: binary
simoControl: 1

#---Control Search---
#preStart: 0
#aneal = 0.2
searchNeighborhood: 2
iterations: 3

#---Model---
#modelName: iMM904
modelName: iMM904,iMM904_Production
bioObj = Biomass

#------product-----------
#subSections: etoh
#synthObj: EX_etoh

subSections: C14n0_CoA
synthObj: EX_C14n0_CoA
