[default]
verbose: True
email: john.doe@no.com
databaseFile: ~/blast/data/NC_000913
blastExe: /usr/bin/blastall

[E_Coli]
verbose: True
mode: auto

email: john.doe@no.com
databaseFile: ~/blast/data/NC_000913
blastExe: /usr/bin/blastall

genbankID: 49175990

locationFile: Test_locations.txt
targetFile: Auto_oligos.fas
sequencingFile: Auto_oligo_sequence.seq
seqCompareLog: Auto_oligo_comparelog.txt

[E.Coli FA Opt]
#Fatty acid recombination oligo generation, parsing, and sequencing anlaysis.
verbose: True
mode: sequence

email: john.doe@no.com
genbankId: 49175990

databaseFile: ~/blast/data/NC_000913
blastExe: /usr/bin/blastall

#targetFile: 
#sequencingFile: FA_control_20110816.seq
#seqCompareLog: FA_control_20110816_compare.txt

recSeq: fb_out_NC_000913_Sample.TGTGGT.R1.txt
#targetSeq: Mark1_FattyAcid_targets.fasta
targetSeq: 20120709_FA_recombination_oligos.fasta

[citrate targets]
#this is old
verbose: True
mode: auto

databaseFile: ~/blast/data/NC_000913
blastExe: /usr/bin/blastall

targetFile: citrate_optimization_targets.fas
oligoFile: citrate_optimization_oligos.fas

